body {
  background-color: black;
  color: antiquewhite;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#nav {
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;
}

#nav h1 {
  font-size: 20px;
}
